<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"> </meta>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<style type="text/css">
<!--
.STYLE1 {
	font-size: xx-large;
	font-weight: bold;
}
.STYLE2 {
	font-family: "新宋体";
	font-size: xx-large;
	font-weight: bold;
	color: #FF0000;
}
.STYLE3 {color: #FF0000}
-->
</style>
</head>

<body>
<p align="center" class="STYLE1">大赛须知</p>
<p align="left"> &nbsp;&nbsp;第九届全国中学生英语能力大赛经过初赛选拨，复赛名单已经产生。考试时间、地点老师会另行通知</p>
<p>&nbsp;&nbsp;为了考生能更准确的准备复赛内容，此次比赛组委会委托沪江网校名师在复习要点、阅读及答题技巧上对各位参加复赛的考生进行考前免费指导。</p>
<p>&nbsp;&nbsp;网络课程请扫描二维码，关注公众号，获得第八届真题，免费课程及复、决赛相关通知也会在公众号公布。</p>
<p>&nbsp;&nbsp;注：另有收费阅读课程使用本比赛参考图书，自愿参加，与本赛组委会无关。 </p>
<p>&nbsp;&nbsp;网络购书： </p>
<p>&nbsp;&nbsp;七年级复赛： </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://detail.tmall.com/item.htm?spm=a1z10.3-b-s.w4011-15772343243.41.pWwcDn&amp;id=43990118746&amp;rn=65387881c3841fbb378e73da7a1874de&amp;abbucket=14"  target="_blank" >新理念英语阅读 初中一年级 </a></p>
<p>&nbsp;&nbsp;八年级复赛： </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://detail.tmall.com/item.htm?spm=a1z10.3-b-s.w4011-15772343243.44.pWwcDn&amp;id=44033108225&amp;rn=65387881c3841fbb378e73da7a1874de&amp;abbucket=14"  target="_blank" >新理念英语阅读 初中二年级 </a></p>
<p>&nbsp;&nbsp;决赛及全国比赛（全国比赛不再分七八年级组，统一为初中组） </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://detail.tmall.com/item.htm?spm=a220o.1000855.0.0.2tu1B3&amp;abtest=_AB-LR67-PR67&amp;pvid=d4c8c643-fb73-428d-9f9e-bc1cc93106de&amp;pos=7&amp;abbucket=_AB-M67_B19&amp;acm=03067.1003.1.1288151&amp;id=520551432383&amp;scm=1007.12776.64485.100200300000000"  target="_blank" >黑布林英语阅读 初中一年级 </a>

</p><p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://detail.tmall.com/item.htm?spm=a220o.1000855.0.0.08ESun&amp;abtest=_AB-LR67-PR67&amp;pvid=b5629235-8dcc-407b-95c4-9715f91e81b0&amp;pos=10&amp;abbucket=_AB-M67_B19&amp;acm=03067.1003.1.1288151&amp;id=532866236245&amp;scm=1007.12776.64485.100200300000000"  target="_blank" >黑布林英语阅读 初中二年级 </a></p>
 <p align="center" class="STYLE2"><a href="/second" target="_blank" class="STYLE3">打印准考证</a></p>
 <p align="center"><span class="STYLE1"><img th:src="@{/images/q.jpg}" width="147" height="140" /></span></p>
</body>
</html>
